.affiche_objet{
    background-color: aquamarine;
}

body{
    background-image: url('bg.png');
    background-size: 140%;
    background-repeat: repeat-y;
}

#artiste_texte{
    display: block;
}

#div_contacts{
    display: none;
}

p{
    color: antiquewhite;
}
h4{
    color: white;
}
li{
    color:antiquewhite;
}

#bibliographie{
    text-align: justify;
}

#artiste_texte{
    margin-top: 65px;
}

#new_div{
    margin-top: 50px;
}


#photo {
    /*Pour arrondir les bords des photos */
    border:2px solid black; 
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}